<h2>Editar datos del Administrador</h2>

<h4>Perfil de: {{updateAdmin.username}}</h4>
<div>
  <form action="/logged/{{updateAdmin._id}}/edit" method="post">
    <label for="username">Nombre de Administrador</label>
    <input type="text" name="username" value="{{updateAdmin.username}}" />
    <br />

    <label for="email">Email</label>
    <input type="text" name="email" value="{{updateAdmin.email}}" />
    <br />

    <label for="ubication">Ubicación:</label>
    <input type="text" name="ubication" value="{{updateAdmin.ubication}}" />
    <br />

    <button>Guardar cambios</button>

  </form>
</div>