{{#if isAdmin}}
<h2>Perfil de Administrador</h2>
{{else}}
<h2>Perfil de Usuario</h2>
{{/if}}

<div>

  <h5>Nombre: {{foundUser.username}}</h5>
  <h5>Email: {{foundUser.email}}</h5>
  <h5>Ubicación: {{foundUser.ubication}}</h5>
  <h5>Últimas fotos: {{foundUser.photos}}</h5>

  <a href="/logged/profile/edit"><button>Editar</button></a>

  <br />
  <form action="/logged/deleteUser/{{foundUser._id}}" method="post">
    <button>Eliminar usuario</button>
  </form>
</div>