<style>
  .redondo { display: block; width: 100px; height: 100px; border-radius: 50%; background-color: white; }
  #form-photo { display: none;}
</style>

{{#if isAdmin}}
  <h2>Perfil de Administrador</h2>
{{else}}
  <h2>Perfil de Usuario</h2>
{{/if}}

<div>

  <img src="{{foundUser.profilePhoto}}" alt="Crear imagen de perfil" class="redondo"/>
  <button id="button-photo">Actualizar imagen de perfil</button>

  <form id="form-photo" action="/logged/profile/photo" method="post" enctype="multipart/form-data">
    <label for="profilePhoto"></label>
    <input type="file" name="profilePhoto" />
    <button>Enviar</button>
  </form>

  <h5>Nombre: {{foundUser.username}}</h5>
  <h5>Email: {{foundUser.email}}</h5>
  <h5>Ubicación: {{foundUser.ubication}}</h5>
  <h5>Últimas fotos: </h5>

  {{#each publicacionesDeUser}}
    <img src="{{this.photo}}" alt="foto-del-día" width="100px" />
    <p>{{this.fechaHora}}</p>
  {{/each}}

  <a href="/logged/profile/edit"><button>Editar</button></a>

  <br />
  <form action="/logged/deleteUser/{{foundUser._id}}" method="post">
    <button>Eliminar usuario</button>
  </form>
</div>

<script>

  const buttonPhoto = document.querySelector("#button-photo")
  const formPhoto = document.querySelector("#form-photo")
  const displayFormPhoto = () => {
    formPhoto.style.display = "block"
  }

  buttonPhoto.addEventListener("click", displayFormPhoto)

</script>