<h2>Perfil de Usuario</h2>

<div>
    
    <h5>Nombre: {{foundUser.username}}</h5>
    <h5>Email: {{foundUser.email}}</h5>
    <h5>Ubicación: {{foundUser.ubication}}</h5>
    <h5>Últimas fotos: {{foundUser.photos}}</h5>

    <form action="/logged/{{foundUser._id}}/edit" method="post">
        <a href="/logged/profile/edit"><button>Editar</button></a>
    </form>
    <br>
    <form action="/logged/deleteUser/{{foundUser._id}}" method="post">
        <button>Eliminar usuario</button>
    </form>
</div>