<style>
  #form-post {
    display: none;
  }
  #button-delete {
    display: block;
  }
</style>

<h2>Cuadro del día</h2>

<div>

  <img src="{{cuadroDelDia.image}}" alt="cuadro-del-dia" alt="cover" width="400px" />
  <h4>Detalles del cuadro:</h4>
  <h5>Título:
    {{cuadroDelDia.title}}
  </h5>
  <h5>Autor:
    {{cuadroDelDia.author}}
  </h5>
  <h5>Año:
    <p>{{cuadroDelDia.year}}</p>
  </h5>
  <h5>Descripción:
    <p>{{cuadroDelDia.description}}</p>
  </h5>

</div>

<h4>¡Ahora sube tu foto imitando este cuadro!</h4>

<button id="button-create">Crear publicación</button>

<form action="/logged/cuadroDelDia" method="post" enctype="multipart/form-data" id="form-post">
  <label for="photo">Tú foto:</label>
  <input type="file" name="photo" />
  <br />
  <label for="comment">Comentario:</label>
  <input type="text" name="comment" />
  <br />
  <p>¡Recuerda que solo puedes subir una publicación al día!</p>
  <button id="button-post">Publicar</button>
</form>



{{#if errorMessage}}
  <p>{{this.errorMessage}}</p>
{{/if}}

<div id="post">
  {{#each publicaciones}}
  <h3>Publicado por: {{this.username}}</h3>
  <img src="{{this.photo}}" alt="foto-de-{{this.username}}" width="300px" alt="cover" />
  <p>Comentario:{{this.comment}}</p>
  <p>Hora: {{this.createdAt}}</p>
  {{/each}}
  <form action="/logged/cuadroDelDia/{{foundUserId._id}}" method="post" id="button-delete">
    <button>Borrar publicación</button>
  </form>
</div>

<script>
  const buttonCreate = document.querySelector("#button-create")
  const form = document.querySelector("#form-post")
  const buttonPost = document.querySelector("#button-post")
  const buttonDelete = document.querySelector("#button-delete")
  const desplegarFormPost = () => {
    buttonCreate.style.display = "none"
    form.style.display = "block"
  }
  const displayPost = () => {
    buttonCreate.style.display = "none"
    buttonDelete.style.display = "block"
  }
  
  buttonCreate.addEventListener("click", desplegarFormPost);
  buttonPost.addEventListener("click", displayPost)

</script>