<h2>Cuadro del día</h2>

<div>
    <img src="" alt="cuadro-dia">
    <h5>Detalles del cuadro:</h5>
    <h6>Título:
        <p>{{this.title}}</p>
    </h6>
    <h6>Autor:
        <p>{{this.author}}</p>
    </h6>
    <h6>Año:
        <p>{{this.year}}</p>
    </h6>
    <h6>Descripción:
        <p>{{this.description}}</p>
    </h6>
    
</div>

<h4>¡Ahora sube tu foto imitando este cuadro!</h4>

<div>
    <h6>{{username}}</h6>
    <img src="" alt="replica-user">

    <form action="" method="post">
        <button>Borrar</button>
    </form>
</div>