<style>
  #form-post {
    display: none;
  }

  #edit-form {
    display: none;
  }

  #button-delete {
    display: block;
  }
</style>

<h2>Cuadro del día</h2>

<div class="card text-bg-dark border-light mb-3" style="max-width: 18rem;">

  <img src="{{cuadroDelDia.image}}" class="card-img-top" alt="cuadro-del-dia" alt="cover" width="400px" />
  <div class="card-body">

    <h5 class="card-title">Título:
      "{{cuadroDelDia.title}}"
    </h5>
    <p class="card-text">Autor:{{cuadroDelDia.author}}
    </p>
    <p class="card-text">Año: {{cuadroDelDia.year}}
    </p>
    <p class="card-text">Descripción:
    <p>{{cuadroDelDia.description}}</p>
    </p>

  </div>

</div>

<h4>¡Ahora sube tu foto imitando este cuadro!</h4>

{{#if hayPublicaciones}}
<button id="button-create">Crear publicación</button>
{{else}}
<div>
  <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header"> <p>
  Publicado por: {{tuPublicacion.username}}
  </p>
  <img src="{{foundUser.profilePhoto}}" alt="foto-user" width="25px"/>
  </div>
  <div class="card-body">
    <img src="{{tuPublicacion.photo}}" class="card-img-top" alt="foto-de-{{tuPublicacion.username}}" width="300px" alt="cover" />
    <p class="card-text">Comentario:{{tuPublicacion.comment}}</p>
    <p class="card-text">Hora: {{tuPublicacion.hora}}</p>
    {{#each tuPublicacion.comentarios}}
    <p class="card-text">{{this}}</p>
    {{/each}}
  </div>
  <form action="/logged/comentario/{{tuPublicacion._id}}" method="post">
    <label for="comentario"><label>
        <input type="text" name="comentario" placeholder="Añade un comentario...">
        <br>
        <button>Enviar</button>
  </form>
</div>
  <button id="button-edit">Editar tu publicación</button>
  <form action="/logged/cuadroDelDiaDelete/{{foundUserId._id}}" method="post" id="button-delete">
    <button>Borrar publicación</button>
  </form>
</div>
{{/if}}


<form id="form-post" action="/logged/cuadroDelDia" method="post" enctype="multipart/form-data">
  <label for="photo">Tú foto:</label>
  <input type="file" name="photo" />
  <br />
  <label for="comment">Comentario:</label>
  <input type="text" name="comment" />
  <br />
  <p>¡Recuerda que solo puedes subir una publicación al día!</p>
  <button id="button-post">Publicar</button>
</form>

<form id="edit-form" action="/logged/cuadroDelDiaEdit/{{foundUser._id}}" method="post" enctype="multipart/form-data">
  <label for="photo">Tú foto:</label>
  <input type="file" name="photo" />
  <br />
  <label for="comment">Comentario:</label>
  <input type="text" name="comment" value="{{publicacion.[0].comment}}" />
  <br />
  <button id="button-post">Guardar cambios</button>
</form>



{{#if errorMessage}}
<p>{{this.errorMessage}}</p>
{{/if}}


{{#each publicaciones}}
<div class="card text-bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header"> <p>
  Publicado por: {{this.username}}
  </p>
  <img src="{{foundUser.profilePhoto}}" alt="foto-user" width="25px"/>
  </div>
  <div class="card-body">
    <img src="{{this.photo}}" class="card-img-top" alt="foto-de-{{this.username}}" width="300px" alt="cover" />
    <p class="card-text">Comentario:{{this.comment}}</p>
    <p class="card-text">Hora: {{this.hora}}</p>
    {{#each this.comentarios}}
    <p class="card-text">{{this}}</p>
    {{/each}}
  </div>
  <form action="/logged/comentario/{{this._id}}" method="post">
    <label for="comentario"><label>
        <input type="text" name="comentario" placeholder="Añade un comentario...">
        <br>
        <button>Enviar</button>
  </form>
</div>
{{/each}}

<script>
  const buttonCreate = document.querySelector("#button-create")
  const form = document.querySelector("#form-post")
  const buttonPost = document.querySelector("#button-post")
  const buttonDelete = document.querySelector("#button-delete")
  const buttonEdit = document.querySelector("#button-edit")
  const editForm = document.querySelector("#edit-form")

  const desplegarFormPost = () => {
    buttonCreate.style.display = "none"
    form.style.display = "block"
  }
  const desplegarEditPost = () => {
    buttonEdit.style.display = "none"
    editForm.style.display = "block"

    console.log("hola")
  }
  const displayPost = () => {
    buttonCreate.style.display = "none"
    buttonDelete.style.display = "block"
    buttonUpdate.style.display = "block"
  };

  if (buttonCreate) {
    buttonCreate.addEventListener("click", desplegarFormPost);
  }
  buttonEdit.addEventListener("click", desplegarEditPost);
  buttonPost.addEventListener("click", displayPost);

</script>